 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>EducationTatva is a group of experienced individuals worked in multiple domains and technologies. EducationTatva mainly deals in spreading knowledge on Java, MongoDB, Oracle ICS, Oracle Integration Services, Oracle BPM, Oracle SOA, Flutter with DART</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student or experienced professional we can always be partner in solving the problem together. We also provide organization level trainings </p>
                </div>
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>-->
            </div>
        </div>
    </section>
